.menu-page-interface {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-family: "SUSE", sans-serif;
    font-size: 85%;
}

.menu-page-top-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-page-user-profile {
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(167, 167, 167);
    max-width: 500px;
    gap: 20px;
}

.menu-page-user-profile img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.menu-page-menu-options {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-page-option-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: black;
}

.menu-page-option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(167, 167, 167);
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 220px;
}

.menu-page-option-icon {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-page-option-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-page-settings-privacy {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings-block-menu-page {
    width: 96%;
    height: 50px;
    background-color: rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px;
    max-width: 500px;
}

.settings-block-icon {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
     align-items: center;
}

.settings-block-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

