.awards-rank-interface {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    position: relative;
    color: white;
    padding-top: 80px;
  }
  
  .awards-rank-interface-header,
  .awards-rank-interface-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in.appear {
    opacity: 1;
    transform: translateY(0);
  }
  
  .awards-rank-interface-header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #277AA4;
  }
  
  .awards-rank-interface-section {
    margin-bottom: 40px;
  }
  
  .awards-rank-interface-section h2 {
    font-size: 1.5em;
    color: #205e78;
  }
  
  .awards-rank-interface-section p {
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  .awards-rank-cups {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .awards-rank-cup-item {
    text-align: center;
    max-width: 150px;
  }
  
  .awards-rank-cup-item img {
    max-width: 100px;
  }
  
  .awards-rank-cup-item h3 {
    font-size: 1.2em;
    margin-top: 10px;
    color: #277AA4;
  }
  
  .awards-rank-levels {
    list-style-type: none;
    padding-left: 0;
  }
  
  .awards-rank-level-item {
    font-size: 1.1em;
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  /* Back button styling */
  
  