.ads-page-interface{
   width: 97%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
    padding-top: 70px;
    font-family: "SUSE", sans-serif;
    color: black;
    font-size: 95%;
}

.ads-page-interface h1 {
    font-size: 150%;
}