.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-weight: 200;
    font-size: 80%;
    padding-top: 10px;
  }
  
  
  .friend-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .friend-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .friend-info {
    display: flex;
    flex-direction: column;
  }
  
  .friend-username {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .friend-campus-streak {
    font-size: 14px;
    color: #777;
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #277AA4;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .scroll-to-top:hover {
    background-color: #205e78;
  }
  