a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color of the parent element */
  }
  
  /* Optional: Remove any hover, active, or visited styling */
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  .edit-layout {
    padding-top: 80px;
    color:  white;
  }

  .profile-structure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "SUSE", sans-serif;
    font-size: 70%;
    padding-top: 70px;
    color: white;
  }

.profile-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
}

.profile-pic-name {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}

.profile-pic-name img {
     width: 80px;
     height: 80px;
     border-radius: 100%;
}

.fullname {
    font-weight: bold;
}

.fullname p {
    font-weight: bold;
    text-align: center;
}

.points-status {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap: 10px;
}

.campus-points {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 100%;

}

.campus-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.points {
    font-weight: bold;
    text-align: center;
    margin: 0px;
    font-size: 15px; 
}

.p-text {
    text-align: end;
    margin: 0px;
    margin-right: -20px;
}

.user-bio {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.award-img-profle {
    width: 50px;
    height: 50px;
}
.trophies {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
}

.trophy-count {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.edit-profile-btn {
     width: 100px;
    background-color: #205e78;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 70%;
}

.back-icon {
    position: fixed;
    left: 0px;
    top: 0px;
}

.normal-star-award, .super-star-award, .icon-award {
    position: relative;
}

.normal-star-count, .super-star-count, .icon-awards-count {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}