.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  color: #205e78;
  text-align: center;
  font-family: "SUSE", sans-serif;
  overflow: hidden;
}

.splash-screen img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
  animation: pulse 1.5s ease-in-out infinite;
}

.splash-screen h1 {
  font-size: 2rem;
  animation: fadeInOut 1.5s ease-in-out infinite;
}

/* Infinite pulsing animation for the logo */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1); /* Slightly enlarge */
    opacity: 0.8;
  }
}

/* Infinite fade in and out animation for the text */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
