     /* .top-section
    */
    body{
      margin: 0px;
      padding: 0px;
    }

 .layout-dashboard {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: "SUSE", sans-serif;
     font-weight: 200;
     font-size: 80%;
     padding-top: 85px;
 }
 
.top-section{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
   background-color: white;
}

 .user-dp {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
 }

.user-dp img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.company-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}

.nav-bar i {
   font-size: 20px;
   color: rgb(184, 184, 184);
}

img {
    width: 100px;
}

  /* top tab 
    */

    .top-tab {
        position: fixed;
        top: 50px;
        left: 0px;
        right: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        z-index: 10;
        background-color: white;
        padding: 5px 0px;
        border-bottom: 1px solid rgb(184, 184, 184);
    }

    .top-tab i {
        font-size: 21px;
        color: rgb(184, 184, 184);
    }

 /* top users */

 .h2-text {
    text-align: center;
    width: 100%;
 }
 a {
   text-decoration: none; /* Removes underline */
   color: inherit; /* Inherits the color of the parent element */
 }
 
 /* Optional: Remove any hover, active, or visited styling */
 a:hover,
 a:active,
 a:visited {
   text-decoration: none;
   color: inherit;
 }

.user-list {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px 0; /* Padding around the list */
  margin: 0 auto; /* Center the list */
  list-style-type: none; /* Remove default list item markers */
  padding-left: 0; /* Remove default padding */
  background-color: white;
  border-bottom: 1px solid rgb(231, 225, 225);
}
 
.top-accounts {
    width: 100%;
}

 .user-card {
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 85%;
 }

 .img-div {
    width: 50px;
    height: 50px;
    border:  1px solid #205e78;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .user-card img {
   width: 45px;
   height: 45px;
   border-radius: 100%;
 }

 .name-div {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .user-list::-webkit-scrollbar{
    display: none;
 }

   /* //competion  */
 .competion-list {
    list-style-type: none;
 }

 .active-competitions {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .competion-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px 0; /* Padding around the list */
    margin: 0 auto; /* Center the list */
    list-style-type: none; /* Remove default list item markers */
    border-bottom: 1px solid rgb(231, 225, 225);
    border-top: 1px solid rgb(231, 225, 225);
 }

 .competion-list::-webkit-scrollbar{
    display: none;
 }

 .competion {
    width: 100px;
    margin: 0px 5px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    gap: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* subtle shadow */
    0 6px 20px rgba(0, 0, 0, 0.1); /* deeper shadow */
 }

 .competion-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .competion-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
 }

 .competion-name {
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: white;
    font-size: 70%;
 }

 .participation {
   position: absolute;
   bottom: 0px;
   color: white;
   font-weight: bold;
   font-size: 70%;
 }

 .competion-award {
    position: absolute;
    top: 10px;
    left: -4px;
 }

 .competion-award img {
    width: 40px;
    height: 40px;
 }

 .dashboard-interface-feeds{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .dashboard-interface-feed {
   width: 100%;
   height: 100%;
   max-width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px solid rgb(231, 231, 231);
   margin: 10px;
 }

  .dashboard-interface-feed-top {
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: row;
   margin: 0px;
  }


  .dashboard-interface-feed-top img {
    width: 80px;
    height: 80px;
    border-radius: 100%;

  }

  .dashboard-interface-text-content {
   width: 100%;
   margin: 0px;
   text-align: start;
   word-wrap: break-word;
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: row;  
  }

  .dashboard-interface-text-content p {
   margin: 4px 20px;
  }

  .dashboard-interface-media-content {
   width: 100%;
   height: 100%;
  }

  .dashboard-interface-media-content video {
   width: 100%;
   height: 400px;
  }

  .dashboard-interface-media-content img {
   width: 100%;
   height: 400px;
   object-fit: cover;
  }

  .dashboard-interface-interactions {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
  }

  .dashboard-interface-interactions div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  }

  .dashboard-interface-interactions div i {
   font-size: 20px;
   margin: 5px;
  }


  .dashboard-interface-interactions div span {
   font-size: 17px;
  }