     /* .top-section
    */
    body{
      margin: 0px;
      padding: 0px;
      background-color: white;
      color: black;
    }

 .layout-dashboard {
     width: 97%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: "SUSE", sans-serif;
     font-weight: 200;
     font-size: 95%;
     padding-top: 85px;
     background-color: white;
     color: black;
 }
 
.top-section{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
   background-color: white;
}

 .user-dp {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
 }

.user-dp img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.company-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}

.nav-bar i {
   font-size: 20px;
  color: rgb(88, 88, 88);
}

img {
    width: 100px;
}

  /* top tab 
    */

    .top-tab {
        position: fixed;
        top: 50px;
        left: 0px;
        right: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        z-index: 50;
        background-color: white;
        padding: 5px 0px;
        border-bottom: 1px solid rgb(184, 184, 184);
    }


    .top-tab i {
        font-size: 21px;
        color: rgb(88, 88, 88);

    }
    .notifications-tab {
      position: relative;
    }
    .unread-notification-count {
   position: absolute;
   top: -10px;
   right: -15px;
   background-color: red;
   color: white;
   font-weight: bold;
   width: 20px;
   height: 20px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  text-align: center;
    }
 /* top users */

 .h2-text {
    text-align: center;
    width: 100%;
 }
 a {
   text-decoration: none; /* Removes underline */
   color: inherit; /* Inherits the color of the parent element */
 }

 .top-accounts {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-accounts::-webkit-scrollbar {
  display: none;
}

.top-accounts::-webkit-scrollbar-thumb {
  display: none;
}

.user-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-card {
 display: flex;
 height: 70px;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 5px;
 padding-top: 5px;
}


.user-card div {
 width: 100%;
 text-align: center;
 height: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 80%;
}

.user-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.user-card a {
  text-decoration: none;
  color: #205e78; /* User name color */
  font-weight: bold;
}

.user-card a:hover {
  color: #277AA4; /* Hover effect */
}

 /* Optional: Remove any hover, active, or visited styling */
 a:hover,
 a:active,
 a:visited {
   text-decoration: none;
   color: inherit;
 }

   /* //competion  */
 .competion-list {
    list-style-type: none;
 }

 .active-competitions {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     position: relative;
 }

 .competion-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px 0; /* Padding around the list */
    margin: 0 auto; /* Center the list */
    list-style-type: none; /* Remove default list item markers */
    border-bottom: 1px solid rgb(231, 225, 225);
    border-top: 1px solid rgb(231, 225, 225);
   
 }

 .competion-list::-webkit-scrollbar{
    display: none;
 }

 .competion {
    width: 100px;
    margin: 0px 5px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    gap: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* subtle shadow */
    0 6px 20px rgba(0, 0, 0, 0.1); /* deeper shadow */
 }

 .competion-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .competion-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
 }

 .competion-name {
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: white;
    font-size: 70%;
 }

 .participation {
   position: absolute;
   bottom: 0px;
   color: white;
   font-weight: bold;
   font-size: 70%;
 }

 .competion-award {
    position: absolute;
    top: 10px;
    left: -4px;
 }

 .competion-award img {
    width: 40px;
    height: 40px;
 }

 .dashboard-interface-feeds{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .dashboard-interface-feed {
   width: 100%;
   height: 100%;
   max-width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px solid rgb(197, 197, 197);
   margin: 10px;
 }

  .dashboard-interface-feed-top {
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: row;
   margin: 0px;
   color: black;
   font-weight: bold;
   font-size: 17px;
  }


  .dashboard-interface-feed-top img {
    width: 80px;
    height: 80px;
    border-radius: 100%;

  }

  .dashboard-interface-text-content {
   width: 100%;
   margin: 0px;
   text-align: start;
   word-wrap: break-word;
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: row;  
  }

  .dashboard-interface-text-content p {
   margin: 4px 20px;
   color: black;
  }

  .dashboard-interface-media-content {
   width: 100%;
   height: 100%;
  }

  .dashboard-interface-media-content video {
   width: 100%;
   height: 400px;
  }

  .dashboard-interface-media-content img {
   width: 100%;
   height: 400px;
   object-fit: cover;
  }

  .dashboard-interface-interactions {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
  }

  .dashboard-interface-interactions div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  }

  .dashboard-interface-interactions div i {
   font-size: 20px;
   margin: 5px;
   color: rgb(88, 88, 88);
  }


  .dashboard-interface-interactions div span {
   font-size: 17px;
  }


  .modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
 }
 
 .modal-content {
   position: relative;
   max-width: 90%;
   max-height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .modal-image {
   max-width: 100%;
   max-height: 100%;
   border-radius: 8px;
 }
 
 .close-button {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: white;
   border: none;
   font-size: 24px;
   cursor: pointer;
   padding: 5px 10px;
   border-radius: 50%;
 }
 
 .feed-image {
   width: 100%;
   object-fit: cover;
 }