.competition-interface {
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "SUSE", sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 100%;
    font-size: 85%;
}

h1 {
  color: #277AA4;
}

.competion-interface-competion-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.competion-interface-competion-image img {
    width: 100%;
    max-width: 350px;
    height: 190.0px;
    border-radius: 10px;
    margin: 5px 3px;
}

.description {
    text-align: center;
    margin: 5px 3px;
}


.date {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 5px 3px;
}

.start-date {
    background-color: #277AA4;
     padding: 10px 15px;
     border-radius: 5px;
     color: white;
}

.end-date  {
    background-color: #277AA4;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}


.watch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 5px;
}

.watch-button i {
    font-size: 15px;
    color: #277AA4;
}

.tc {
    text-align: center;
}

.top-3-competitors {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 15px 5px;
   gap: 10px;
}

.competitor-in-competion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.competitors-profile-picture-in-comp img {
    width: 60px;
    height:60px;
    border-radius: 100%;
}

.competitors-votes-amount {
    font-weight: bold;
}


.competion-interface-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 10px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .competion-interface-footer i {
    color: #205e78;
    font-size: 20px;
  }
  
  .competion-interface-footer .add-icon {
    cursor: pointer;
  }
  
  .competion-interface-footer .add-icon:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
  
