.competition-rank-interface-page {
  text-align: center;
  margin-top: 10px;
  position: relative;
  font-family: "SUSE", sans-serif;
  font-weight: 200;
  width: 97%;
  font-size: 80%;
  padding-top: 60px;
}

.competition-rank-interface-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
}

.competition-rank-interface-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  max-height: 70vh;
  overflow-y: auto;
}

.competition-rank-interface-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
 background-color:rgb(49, 49, 49);
  cursor: pointer;
}

.competition-rank-interface-item.current-user {
  background-color: #e0f7fa;
}

.competition-rank-interface-number {
  font-weight: bold;
  margin-right: 10px;
}

.competition-rank-interface-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.competition-rank-interface-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.competition-rank-interface-username {
  font-weight: bold;
  font-size: 18px;
  color: #277AA4;
}

.competition-rank-interface-votes {
  font-size: 14px;
  color: #555;
}

.competition-rank-h1 {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #277AA4;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #205e78;
}
