.video-watch-area {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 50px;
   font-family: "SUSE", sans-serif;
   font-weight: 300;
   gap: 10px;
}

.video-watch-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}


.comment-pNEL-UP{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.video-watch-item {
    width: 100%;
    max-width: 400px;
    border: 1px solid rgb(238, 238, 238);
}

.video-creator-profile {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.video-watch-profile-picture {
  margin: 10px;
  border: 2px solid #205e78;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 .video-watch-profile-picture img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
 }

 .video-watch-icon-and-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 }

 .video-watch-icon-and-button i {
  margin: 10px 30px;
  font-size: 23px;
  color: gray;
 }

  
.comment-panel {
  width: 100%;
  height: 0%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  visibility: hidden;
  visibility: visible;
  height: 80%;
}



.commenters {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.user-comment-form {
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commenter-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.commenter {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid rgb(243, 243, 243);

}

.commenter-image {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
}

.commenter-image img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 10px;
}

.comment-details-arrange {
  width: 65%;
}
.commenters-name {
  font-weight: bold;
}
.like-comment-icon {
  margin: 20px;
}

.commenters-comment {
  width: 100%;
  max-width: 200px;
  height: 100%;
  word-break: break-word;       /* For word breaking */
  overflow-wrap: break-word;
}

.like-comment-icon i {
   color: rgb(226, 226, 226);
}


.user-comment-form input {
  width: 70%;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.comment,.like, .vote,.share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}