.full-house {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-watch-area {
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  font-family: "SUSE", sans-serif;
  font-weight: 300;
  gap: 10px;
  color: white;
}

.video-watch-own {
  padding-top: 100px ;
}

.video-watch-area-movie {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  font-family: "SUSE", sans-serif;
  font-weight: 300;
  gap: 10px;
  color: white;
  padding-top: 100px;
 }

body {
 font-family: "SUSE", sans-serif;
}


.video-watch-top {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
}


.video-watch-item {
  width: 100%;
  border: 1px solid rgb(61, 61, 61);
  max-width: 500px;
}

.video-creator-profile {
width: 100%;
display: flex;
justify-content: start;
align-items: center;
flex-direction: row;
color: black;
}

.video-watch-profile-picture {
margin: 10px;
border: 2px solid #205e78;
width: 50px;
height: 50px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.video-watch-video-data {
width: 100%;
display: flex;
justify-content: center;
text-align: center;
color: black;
}


.video-watch-profile-picture img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
 }
 
 .video-watch-icon-and-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
 }

 .video-watch-icon-and-button i {
  margin: 5px 5px;
  font-size: 23px;
  color : rgb(88, 88, 88);
 }

 .like , .comment , .share , .vote {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
 }

.competition-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.balance-icon {
  font-size: 1.5rem;
  color: #ffd700; /* Gold color for the coin icon */
  margin-right: 0.5rem;
}

.balance-icon-main {
  font-size: 3.0rem;
  color: #ffd700; /* Gold color for the coin icon */
  margin-right: 0.5rem;
}