.login-page-interface{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 90%;
}

.link-link {
  color: #277AA4;
}

.login-page-interface h1 {
  font-size: 20px;
}

.login-page-interface img {
  width: 100px;
  border-radius: 100px;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  width: 95%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form input {
  width: 95%;
    min-width: 300px;
    margin: 15px 0px;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    outline: none;
}

.login-form button {
  width: 100%;
}

.forgot-password-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forgot-password-form input {
   width:  300px;
   border-radius: 10px;
   background-color: lightgray;
   border: none;
   padding: 10px 15px;
}