.discovery-page-interface {
     margin-top: 130px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 97%;
     height: 100%;
}


.video-watch-profile-picture {
    margin: 10px;
    border: 2px solid #205e78;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }