.discovery-page-interface {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     font-size: 95%;
     height: 100%;
     color: black;
}

.Discovery-page-search-interface {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     gap: 10px; /* Optional: Adds space between elements */
   }
   
   .Discovery-page-search-interface h2 {
     margin: 0;
     width: 97%;
     text-align: start;
   }
   
   .search-container {
     width: 97%;
     display: flex;
     align-items: center; /* Aligns input and icon vertically */
     position: relative;
     margin-bottom: 20px;
   }
   
   .search-container i {
     position: absolute;
     left: 10px; /* Adjusts icon position inside input */
     color: #666; /* Optional: Style the icon color */
   }
   
   .search-container input {
     padding-left: 30px; /* Adds space for the icon */
     padding-right: 10px;
     height: 36px; /* Optional: Adjust input height */
     border: 1px solid #ccc;
     border-radius: 10px;
     font-size: 16px;
     max-width: 500px;
     width: 100%;
     background-color: lightgray;
     outline: none;
     border: none;
   }
   

.search-item {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.search-result-item {
     background-color: lightgray;
     width: 100%;
     min-width: 200px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 10px;
     padding: 10px;
     
}

.search-result-item p {
     text-align: center;
     font-weight: bold;
}

.search-result-item div {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.search-result-item img {
   width:  100px;
   height: 100px;
   border-radius: 100%;
}
