
  
  .back-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #277AA4;
  }
  
  form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  form input {
    width: 300px;
    max-width: 300px;
    height: 40px;
    margin: 10px 0;
    padding-left: 40px; /* Space for the icon */
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;

  }
  
  .input-icon {
    position: relative;
  }
  
  .input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
  }
  
  .icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }
  
  .icon img {
    width: 100px;
  }
  
  form button {
    width: 50%;
    max-width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #277AA4;
    color: white;
    cursor: pointer;
  }
  
  form button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #277AA4;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  form p {
    cursor: pointer;
    color: #277AA4;
    margin: 10px 0;
  }
  
  form p a {
    color: #277AA4;
    text-decoration: none;
  }
  
  form img {
    width: 50px;
    border-radius: 50%;
    margin: 10px 0;
  }
  
  .error-box {
    width: 300px;
    max-width: 300px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  